.hero{

height:100vh;

position:relative;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:

linear-gradient(#fde7cb,#fff9f5);

}

.content{

z-index:10;

text-align:center;

}

h2{

font-family:var(--heading);

font-size:4rem;

color:var(--maroon);

}

p{

font-size:1.2rem;

font-family:var(--body);

}

.sun{

position:absolute;

width:180px;

height:180px;

border-radius:50%;

background:#ffd46e;

filter:blur(20px);

top:70px;

}
