:root{
  --bg:#FFF9F5;
  --gold:#D4AF37;
  --maroon:#7A1025;
  --green:#C7D9B7;
  --pink:#F7D9E3;
  --brown:#5A3E2B;

  --heading:"Cinzel",serif;
  --body:"Poppins",sans-serif;
  --telugu:"Noto Serif Telugu",serif;
}
