@media (max-width:768px){

.hero{

padding:20px;

}

.subtitle{

letter-spacing:2px;

font-size:.7rem;

}

.scroll-indicator{

margin-top:45px;

}

.temple{

height:250px;

}

.cloud{

transform:scale(.7);

}

}
